@import "tailwindcss";
@plugin "daisyui" {
  themes: dim --default;
}
.active {
  @apply bg-base-100;
}
.form-control {
  @apply space-y-2;
}
input {
  @apply w-full;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
